.modal {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 6rem;
  border-radius: 14px;
  padding: 1rem;
  color: black;
  background-color: white;
  box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
    0 0 100px 90px #0ff;
}

.input_field {
  margin-bottom: 14px;
}
h5 {
  text-align: center;
}

.bnt {
  padding: 8px 20px;
  border-radius: 14px;
  background-color: gray;
  border: none;
  color: white;
}

.bnt1 {
  padding: 8px 20px;
  border-radius: 14px;
  background-color: rgb(15, 4, 4);
  border: none;
  color: white;
   text-decoration: none;
}


button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
  cursor: pointer;
}

.bcontainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

@media screen and (max-width: 530px) {
  .modal {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: auto;
    margin-top: 8rem;
    border-radius: 14px;
    padding: 1rem;
    color: black;
    background-color: white;
    box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
      0 0 100px 90px #0ff;
  }
}
@media screen and (max-width: 810px) {
  .modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    border-radius: 14px;
    padding: 1rem;
    color: black;
    background-color: white;
    box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
      0 0 100px 90px #0ff;
  }
}
