.card {
  display: flex;
  width: 55%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 14px;
  padding: 1rem;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
    0 0 100px 90px #0ff;
}

.table_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.module_button {
  display: flex;
  justify-content: end;
}
.heading {

  display: flex;
  justify-content: space-between;
  padding: 1px 10px;

}
.add{
  padding: 5px 8px;
  border-radius: 14px;
  background-color: gray;
  border: none;
  color: white;
  text-decoration: none;
}
.add:hover{
  color: white;
  background-color: rgb(26, 26, 79);
}

/* mobile version*/

@media screen and (max-width: 530px) {
  .card {
    display: flex;
    width: 98%;
    margin: auto;
    margin-top: 6rem;
    border-radius: 14px;
    color: black;
    background-color: white;
    box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
      0 0 100px 90px #0ff;
  }
}

@media screen and (max-width: 810px) {
  .card {
    display: flex;
    width: 98%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 14px;
    color: black;
    background-color: white;
    box-shadow: 0 0 60px 30px #ebe8e8ab, 0 0 100px 60px rgba(20, 14, 199, 0.87),
      0 0 100px 90px #0ff;
  }
}
