@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Yusei+Magic&display=swap");

body {
  background-image: url("./assets/blue-milky-way-galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.invalid input {
  border: 1px solid #b40e0e;
}
.invalid input:focus {
  border: 1px solid #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

.table {
  width: 100%;
}

/* .custom-select {
  position: relative;
  width: 200px;
}

.custom-select select {
 
}

.custom-select option {
  padding: 10px;
} */

/* .custom-select:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
} */

/* .custom-select select:focus + .custom-select:after {
  color: #aaa;
} */
